header {
    background-image: url("https://png.pngtree.com/element_origin_min_pic/17/03/15/613e48eeca903e2bfda5c447f8e7af11.jpg");
    height: 15rem; 
}

h1 {
    font-size: 5rem;
    font-style: Fantasy;
    text-align: center;
    color: red;

}

#musicbox {
    margin: 2rem;
    height: 100%;
    width: 100%;
    background: skyblue;

}

#search-song {
margin: 2rem;
width: 20rem;
height: 2rem;
background-color: skyblue;
font-size: 16px;
float: right;
}

#search-button {

    width: 3rem;
    height: 2rem;
    

}

body {
   
    background-color: black;
    font-family: Arial;
    font-size: 16;
    color: white;
    text-align: center;

}

.title {

    color: Yellow;
    font-family: Helvatica;
    font-size: 20px;
    text-decoration: underline;
    font-weight: bold;

}

.singer {

    color: lightpink;
    font-family: Tahoma;
    font-size: 18px;
    font-weight: bold;
}

img {
    height: 10rem;
    width: 10rem;

}

a {
    color: white;
}

